.body {
  user-select: none;
}

.line_hidden {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#app {
  width: 1200px;
  margin: 0 auto;
}

.inform {
  background-color: pink;
  width: 100%;
  height: 100px;
  width: 100%;
}

.sideshow {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 20px;
}
.sideshow .left, .sideshow .right {
  border: none;
  background-color: transparent;
  outline: none;
  position: absolute;
  cursor: pointer;
  z-index: 9999;
  top: 50%;
  transform: translateY(-50%);
}
.sideshow .left span, .sideshow .right span {
  font-size: 50px;
  color: #fff;
}
.sideshow .left {
  left: 0;
}
.sideshow .right {
  right: 0;
}
.sideshow .sideshowimg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.sideshow .sideshowimg div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: absolute;
  left: 0;
}
.sideshow .sideshowimg div > img {
  width: 100%;
  height: 100%;
}
.sideshow .sideshowimg .transition {
  transition: all 0.5s;
}
.sideshow .location {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.sideshow .location .circle {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.commoditylist {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.commoditylist .commodity {
  flex-shrink: 0;
  width: 215px;
  height: 475px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.commoditylist .commodity-i {
  width: 215px;
  height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.commoditylist .commodity-i img {
  width: 100%;
  height: 100%;
}
.commoditylist .commodity-info {
  font-size: 12px;
}
.commoditylist .commodity-info-price {
  font-size: 16px;
  color: #e4393c;
  margin: 20px 0 15px 0;
}
.commoditylist .commodity-info-price > span {
  font-size: 20px;
}
.commoditylist .commodity-info-title {
  color: #666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.commoditylist .commodity-info-evaluate {
  color: #a7a7a7;
  margin: 12px 0;
}
.commoditylist .commodity-info-evaluate > span {
  color: #646fb0;
}
.commoditylist .commodity-info-storename {
  color: #999;
}
.commoditylist .commodity-info-add {
  display: grid;
  grid-template-columns: 57px 57px 96px;
  grid-template-rows: 27px;
  grid-gap: 0 0;
  font-size: 12px;
  color: #999;
  margin-top: 40px;
}
.commoditylist .commodity-info-add > div {
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.commoditylist .commodity-info-add .contrast {
  border-right: none;
}
.commoditylist .commodity-info-add .shopcar {
  border-left: none;
}
.commoditylist .commodity-info-add .shopcar:hover {
  color: pink;
  cursor: pointer;
}
.commoditylist .commodity-info-add .shopcar:active {
  color: red;
}

.paging {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 10px auto;
}
.paging .btn {
  padding: 3px;
  background-color: #ddd;
  border: 1px solid #B0AFB0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.paging .btn:hover {
  cursor: pointer;
}
.paging .go {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.paging .go input {
  width: 30px;
  height: 20px;
  border: 1px solid #767676;
  text-align: center;
}
.paging .pagenum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.paging .pagenum-son {
  width: 30px;
  padding: 2.5px;
  border: 1px solid #767676;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.paging .pagenum-son:hover {
  cursor: pointer;
}

.address {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.address-allcommodity {
  color: #e2231a;
  font-size: 16px;
  font-weight: bold;
}
.address-allcommodity > span {
  font-size: 14px;
}
.address-to {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.address-to-text {
  margin-right: 10px;
}

.shopCar {
  margin-bottom: 55px;
}
.shopCar .tool {
  width: 100%;
  background-color: #f3f3f3;
  border: 1px solid #e9e9e9;
  font-size: 14px;
  display: grid;
  grid-template-columns: 135px 455px repeat(4, 1fr);
  grid-template-rows: 45px;
  grid-gap: 0 0;
}
.shopCar .tool > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.shopCar .tool-all {
  margin-left: 13px;
}
.shopCar .tool-price, .shopCar .tool-num, .shopCar .tool-allprice, .shopCar .tool-handle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.shopCar .store {
  width: 100%;
}
.shopCar .store-info {
  width: 100%;
  height: 40px;
  margin-left: 13px;
  display: flex;
  justify-content: flex-startt;
  align-items: center;
  flex-direction: row;
}
.shopCar .store-info-name {
  color: #666;
  font-size: 16px;
  margin-left: 13px;
}
.shopCar .store-line {
  height: 3px;
  width: 100%;
  background-color: #aaaaaa;
}
.shopCar .store .shoplist {
  display: grid;
  grid-template-columns: 45px 545px repeat(4, 1fr);
  grid-template-rows: 80px;
  grid-gap: 0 0;
  box-sizing: border-box;
  padding: 15px 0 25px 0;
  background-color: #fff4e8;
}
.shopCar .store .shoplist > input {
  margin-left: 17px;
}
.shopCar .store .shoplist-commodity {
  display: grid;
  grid-template-columns: 80px 205px 40px;
  grid-template-rows: repeat(4, 20px);
  grid-gap: 5px 25px;
}
.shopCar .store .shoplist-commodity-i {
  width: 80px;
  height: 80px;
  grid-area: 1/1/5/2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.shopCar .store .shoplist-commodity-i img {
  width: 100%;
  height: 100%;
}
.shopCar .store .shoplist-commodity-title {
  color: #333;
  font-size: 12px;
  grid-area: 1/2/3/3;
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.shopCar .store .shoplist-commodity-color {
  font-size: 12px;
}
.shopCar .store .shoplist-commodity-size {
  font-size: 12px;
}
.shopCar .store .shoplist-commodity-server {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.shopCar .store .shoplist-commodity-server div {
  width: 17px;
  height: 17px;
  background-color: red;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.shopCar .store .shoplist-commodity-server div span {
  color: #fff;
  font-size: 12px;
}
.shopCar .store .shoplist-price, .shopCar .store .shoplist-allprice {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.shopCar .store .shoplist-num {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.shopCar .store .shoplist-num-step {
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border: 1px solid #cbcbcb;
}
.shopCar .store .shoplist-num-step .reduce {
  width: 17px;
  height: 20px;
  background-color: #f1f1f1;
  border-right: 1px solid #cbcbcb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.shopCar .store .shoplist-num-step .reduce:hover {
  cursor: pointer;
}
.shopCar .store .shoplist-num-step input {
  width: 45px;
  height: 20px;
  border: none;
  text-align: center;
}
.shopCar .store .shoplist-num-step .add {
  width: 17px;
  height: 20px;
  background-color: #f1f1f1;
  border-left: 1px solid #cbcbcb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.shopCar .store .shoplist-num-step .add:hover {
  cursor: pointer;
}
.shopCar .store .shoplist-num .have {
  font-size: 12px;
  color: #c8b1aa;
}
.shopCar .store .shoplist-tool {
  font-size: 15px;
  color: #666;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.shopCar .store .shoplist-tool .delete:hover {
  cursor: pointer;
  text-decoration: underline;
}

.accountbox {
  width: 100%;
  height: 55px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
}
.accountbox .account {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  font-size: 12px;
  display: grid;
  grid-template-columns: 50px 95px 60px 60px 1fr 100px 125px 90px;
  grid-template-rows: 55px;
  grid-gap: 0 10px;
}
.accountbox .account > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.accountbox .account-delete:hover {
  text-decoration: underline;
  cursor: pointer;
}
.accountbox .account-clear:hover {
  text-decoration: underline;
  cursor: pointer;
}
.accountbox .account-choose {
  grid-column-start: 6;
}
.accountbox .account-choose-num {
  color: #e2231a;
}
.accountbox .account-allprice-num {
  color: #e2231a;
  font-size: 20px;
}
.accountbox .account .gobuy {
  width: 90px;
  height: 100%;
  background-color: #e64347;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
